.slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 400px;
    font-size: 40px;
    text-align: center;
}

.logoContainer{
    display: flex;
    height: 99px;
    margin-left :20px;
}

.headerContainer{
    display: flex;
    height: 120px;
    width: 100%;
    background-color: rgb(10, 105, 146);
    opacity: 0.9;
    justify-content: space-between;
    align-items: center;
}

.headerContainer > div{
    margin: 10px;
}